<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link rel="stylesheet"  href="/css/register/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <form th:action="@{/register}" th:object="${userForm}" method="post" class="form-horizontal" role="form">
        <h2>Registration</h2>
        <div class="form-group">
            <label for="accountName" class="col-sm-3 control-label">Nazwa*</label>
            <div class="col-sm-9">
                <input type="text" id="accountName" placeholder="Nazwa użytkownika" class="form-control" autofocus name="accountName">
            </div>
        </div>
        <div class="form-group">
            <label for="passwordId" class="col-sm-3 control-label">Hasło*</label>
            <div class="col-sm-9">
                <input type="password" id="passwordId" placeholder="Hasło" class="form-control" autofocus name="passwordId">
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-sm-3 control-label">E-mail* </label>
            <div class="col-sm-9">
                <input type="email" id="email" placeholder="E-mail" class="form-control" name= "email">
            </div>
        </div>
        <div class="form-group">
            <label for="state" class="col-sm-3 control-label">Województwo*</label>
            <div class="col-sm-9">
                <input type="text" id="state" placeholder="Województwo" class="form-control" name="state">
            </div>
        </div>
        <div class="form-group">
            <label for="city" class="col-sm-3 control-label">Miasto*</label>
            <div class="col-sm-9">
                <input type="text" id="city" placeholder="Miasto" class="form-control" name="city">
            </div>
        </div>
        <div class="form-group">
            <label for="adress" class="col-sm-3 control-label">Adres* </label>
            <div class="col-sm-9">
                <input type="text" id="street" placeholder="Ulica" class="form-control" name="street">
                <input type="text" id="houseNumber" placeholder="Numer domu" class="form-control" name="houseNumber">
                <input type="text" id="zipCode" placeholder="Kod pocztowy" class="form-control" name="zipCode">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-9 col-sm-offset-3">
                <span class="help-block">*Required fields</span>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Rejestracja</button>
    </form> <!-- /form -->
</div> <!-- ./container -->

</body>
</html>

